---
import { Ids } from '../../_scripts/shared/ids'
import CSS from './index.module.scss'
---
<header class={CSS.topInfo}>
	<p class={CSS.profileName}>MUHAMMAD SULAIS</p>
	<p class={CSS.stopwatchPageScroll} aria-live="off">ST <span id={Ids.topInfo_stopwatch}>00000</span> / <span id={Ids.topInfo_scroll}>000%</span></p>
	<button class={CSS.version}>VERSION 5.0</button>
	<button id={Ids.topInfo_idle} class={CSS.idleMode}>IDLE MODE</button>
	<svg class={CSS.iconRight} viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M21.4445 6.54863V11.9861L16.7345 14.7059L12.0255 11.9861V6.54863L16.7345 3.82988L21.4445 6.54863Z" fill="#FFFF00" stroke="black" stroke-width="2"/>
		<path d="M12.9805 5.97168V11.3799L17.709 14.1104V20.7031L12 24L6.29004 20.7031V15.2939L1.56152 12.5645V5.97168L7.27148 2.67578L12.9805 5.97168ZM8.29004 15.2725V19.5488L11.999 21.6895L15.709 19.5488V15.2646L12.0049 13.127L8.29004 15.2725ZM3.56152 7.12598V11.4102L7.26465 13.5469L10.9805 11.4023V7.12598L7.27051 4.98535L3.56152 7.12598Z" fill="black"/>
	</svg>
	<div class={CSS.iconLeft}/>
</header>