---
import { C_About } from '../../../../constants/about'
import { Ids } from '../../_scripts/shared/ids'
import CSS from './index.module.scss'
---

<div class={CSS.splash} id={Ids.splash}>
	<div
		class={CSS.progressbar}
		role="progressbar"
		aria-valuenow="0"
		aria-label="Loading"
		aria-valuetext="0 percent"
		id={Ids.splash_progressValue}
		style={{ '--c-progress': '0%' }}
	/>
	<div class={CSS.content}>
		<p data-css-progress>
			<span
				aria-hidden="true"
				id={Ids.splash_progressText}>0%</span>
			<span data-css-triangle id={Ids.splash_triangle}/>
		</p>
		<p data-css-about>
			<span>Portfolio of</span>
			<Fragment set:html={C_About.fullnameHTML.toUpperCase()}/>
		</p>
	</div>
	<div class={CSS.waitIndicator}>
		<button disabled id={Ids.splash_button}>
			<span data-css-state-1>
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.5717 23.25C11.7642 23.5833 12.2453 23.5833 12.4378 23.25L14.7658 19.2177C14.9582 18.8844 14.7177 18.4677 14.3328 18.4677H9.67672C9.29182 18.4677 9.05126 18.8844 9.24371 19.2177L11.5717 23.25Z" fill="#202020"/>
					<path d="M11.5306 9.41454C11.6829 8.95942 12.3266 8.95942 12.4789 9.41453L14.8064 16.3701C14.9147 16.694 14.6737 17.0287 14.3322 17.0287H9.67729C9.33576 17.0287 9.09475 16.694 9.20313 16.3701L11.5306 9.41454Z" fill="#202020"/>
					<path d="M12.7178 1C13.0751 1 13.4054 1.19062 13.584 1.5L23.8663 19.3096C24.0448 19.6189 24.0447 20.0002 23.8663 20.3096L22.9922 21.8252C22.8136 22.1346 22.4833 22.3252 22.126 22.3252H15.7061C15.3211 22.3252 15.0806 21.9085 15.2731 21.5751L16.5247 19.4081C16.614 19.2535 16.779 19.1582 16.9576 19.1582H19.0784C19.4633 19.1582 19.7038 18.7415 19.5114 18.4082L12.4331 6.14842C12.2406 5.81509 11.7595 5.81509 11.5671 6.14842L4.48875 18.4082C4.29629 18.7415 4.53686 19.1582 4.92176 19.1582H7.04249C7.2211 19.1582 7.38614 19.2535 7.47547 19.4081L8.72702 21.5751C8.91953 21.9085 8.67897 22.3252 8.29404 22.3252H1.87408C1.51683 22.3252 1.18648 22.1346 1.00787 21.8252L0.13385 20.3096C-0.0445669 20.0003 -0.0446637 19.6188 0.13385 19.3096L10.4151 1.5C10.5937 1.19066 10.9241 1.00003 11.2813 1H12.7178Z" fill="#202020"/>
				</svg>
				PLEASE WAIT
			</span>
			<span data-css-state-2>
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.2596 11.5681C11.5904 11.761 11.5904 12.2389 11.2596 12.4319L2.43549 17.5787C2.27983 17.6695 2.08735 17.6695 1.93169 17.5787L0.248112 16.5968C0.0944763 16.5072 0 16.3428 0 16.1649V7.81741C0 7.6396 0.0944293 7.47517 0.248004 7.38556L1.91698 6.41168C2.07267 6.32082 2.26522 6.32082 2.42093 6.41165L11.2596 11.5681Z" fill="#202020"/>
					<path d="M17.3586 15.0159C17.6945 15.2054 17.6984 15.688 17.3655 15.8828L4.7526 23.2665C4.41928 23.4616 4 23.2212 4 22.835V19.0912C4 18.9111 4.09683 18.7449 4.25349 18.6562L13.7648 13.2663C13.9174 13.1799 14.1042 13.1797 14.257 13.2659L17.3586 15.0159ZM23.2626 11.5684C23.5926 11.7615 23.5925 12.2384 23.2625 12.4314L20.3251 14.1499C20.1716 14.2397 19.9819 14.2412 19.827 14.1538L16.7739 12.4315C16.4348 12.2403 16.4348 11.7519 16.7739 11.5606L19.821 9.8414C19.976 9.75397 20.1657 9.75548 20.3193 9.84537L23.2626 11.5684ZM17.3595 8.11223C17.6924 8.30712 17.6886 8.78968 17.3526 8.97922L14.2501 10.7293C14.0973 10.8155 13.9106 10.8153 13.758 10.7288L4.25349 5.34287C4.09683 5.25409 4 5.08793 4 4.90786V1.16404C4 0.777809 4.41927 0.537418 4.75259 0.732536L17.3595 8.11223Z" fill="#202020"/>
				</svg>
				ENTER PORTFOLIO
			</span>
		</button>
		<label>
			<input type="checkbox" id={Ids.splash_checkbox} checked/>
			<svg data-css-state-1 aria-hidden="true" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect width="18" height="18" transform="matrix(-1 0 0 1 21 3)" fill="#333333"/>
				<path d="M0 18.6415C0 18.7741 0.0526784 18.9013 0.146447 18.9951L5.00492 23.8536C5.09869 23.9473 5.22587 24 5.35847 24H23.5C23.7761 24 24 23.7761 24 23.5V5.35847C24 5.22587 23.9473 5.09869 23.8536 5.00492L18.9951 0.146447C18.9013 0.0526783 18.7741 0 18.6415 0H0.5C0.223857 0 0 0.223858 0 0.5V18.6415ZM20.8536 6.24711C20.9473 6.34088 21 6.46805 21 6.60066V20.5C21 20.7761 20.7761 21 20.5 21H6.60066C6.46805 21 6.34088 20.9473 6.24711 20.8536L3.14645 17.7529C3.05268 17.6591 3 17.5319 3 17.3993V3.5C3 3.22386 3.22386 3 3.5 3H17.3993C17.5319 3 17.6591 3.05268 17.7529 3.14645L20.8536 6.24711Z" fill="#FFFF00"/>
			</svg>
			<svg data-css-state-2 aria-hidden="true" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.0383 0.190407C18.9215 0.0737049 18.7545 0.0222526 18.5922 0.0529274L3.40713 2.92303C3.17097 2.96766 2.99999 3.174 2.99999 3.41433V20.5C2.99999 20.7761 3.22384 21 3.49999 21H23.5039C23.78 21 24.0039 20.7761 24.0039 20.5L24.0039 5.35575C24.0039 5.22301 23.9511 5.09572 23.8572 5.00193L19.0383 0.190407Z" fill="#333333"/>
				<path d="M18.9817 0.133021C19.159 0.310359 19.159 0.597872 18.9817 0.775243L16.9043 2.85349C16.8105 2.9473 16.6833 3 16.5506 3H3.5C3.22386 3 3 3.22386 3 3.5V17.3993C3 17.5319 3.05268 17.6591 3.14645 17.7529L6.24711 20.8536C6.34088 20.9473 6.46805 21 6.60066 21H20.5C20.7761 21 21 20.7761 21 20.5V11.6895C21 11.5569 21.0527 11.4297 21.1464 11.336L23.1464 9.33598C23.4614 9.02099 24 9.24408 24 9.68953V23.5C24 23.7761 23.7761 24 23.5 24H5.35847C5.22587 24 5.09869 23.9473 5.00492 23.8536L0.146447 18.9951C0.0526783 18.9013 0 18.7741 0 18.6415V0.5C0 0.223857 0.223858 0 0.5 0H18.6605C18.781 0 18.8965 0.0478492 18.9817 0.133021ZM23.1982 4.33592C23.3935 4.53117 23.3935 4.84774 23.1982 5.04301L13.1147 15.1274C13.1134 15.1288 13.1134 15.131 13.1147 15.1323C13.1161 15.1337 13.1161 15.1359 13.1147 15.1372L12.3964 15.8555C12.3027 15.9493 12.1755 16.002 12.0429 16.002H9.93953C9.80692 16.002 9.67974 15.9493 9.58598 15.8555L8.86768 15.1372C8.86633 15.1359 8.86633 15.1337 8.86768 15.1323C8.86902 15.131 8.86902 15.1288 8.86768 15.1274L6.14645 12.4062C6.05268 12.3124 6 12.1853 6 12.0527V10.6289C6 10.3528 6.22386 10.1289 6.5 10.1289H7.90422C8.03683 10.1289 8.16401 10.1816 8.25777 10.2754L10.6376 12.6552C10.8329 12.8505 11.1495 12.8505 11.3448 12.6552L21.0771 2.92195C21.2724 2.72667 21.589 2.72666 21.7842 2.92193L23.1982 4.33592Z" fill="#FFFF00"/>
			</svg>
			Auto enter next time
		</label>
	</div>
	<ul class={CSS.footer}>
		<li aria-label="Version" style={{'text-align': 'start'}}>
			Version 5
			<br/>
			{C_About.location}
			<br/>
			<span id={Ids.splash_waveCoordinate}>X: 000000 / Y: 000000</span>
		</li>
		<li style="flex:1"></li>
		<li aria-label="Date & time">
			{C_About.timezoneText}
			<br/>
			<span id={Ids.splash_time}>17:33:00</span>
			<br/>
			<span id={Ids.splash_date}>December 31, 2025</span>
		</li>
	</ul>
	<svg class={CSS.decorator} viewBox="0 0 1280 252" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path id={Ids.splash_path1} d="M457 254C678.577 254 741.885 116 868.5 116C995.115 116 1058.42 254 1280 254" stroke="white" stroke-width="4"/>
		<path id={Ids.splash_path2} d="M297 254C419.769 254 454.846 51 525 51C595.154 51 630.231 254 753 254" stroke="#FFFF00" stroke-width="4"/>
		<path id={Ids.splash_path3} d="M0 254C195.197 254 250.968 2 362.509 2C474.051 2 529.821 254 725.018 254" stroke="#FFFF00" stroke-width="4"/>
	</svg>
</div>