---
import { Picture } from 'astro:assets'
import * as Works from '../../../configs/work-history.js'
import * as Educations from '../../../configs/educations.js'
import * as Styles from '../_styles/styles.enum.js'
---

<section class:list={[Styles.Section, Styles.About]}>
	<h2><code>01 About</code></h2>
	<div>
		<p style="text-align:justify;">
			Hello! My name is Muhammad Sulais. I'm a front-end web developer who builds out of pure
			passion. Though my day-to-day professional life is in administration, I spend most of my
			free time immersed in the world of software development. I love the challenge of stripping
			away unnecessary bloat to create lightweight, local-first applications that solve
			real-world problems.
		</p>
		<p style="text-align:justify;margin-top:1em">
			I am driven by an endless curiosity to learn new things. Nothing beats the rollercoaster
			of programming—stressing over a broken feature, figuring it out, and experiencing that
			ultimate satisfaction when everything finally clicks into place. Outside of building
			custom SQL clients or designing Figma plugins, I enjoy watching anime and playing games.
		</p>
		<div data-css="sub">
			<section>
				<h3><code>@about(<q>Work History</q>)</code></h3>
				<ul>
					{Works.All.map(v =>
						<li>
							{v.logo &&
								<Picture
									formats={['avif', 'webp']}
									src={v.logo}
									alt={`Logo ${v.institute}`}
									width={80}
									height={80}
								/>
							}
							<div>
								<h4>{v.institute}</h4>
								<p>{v.role}</p>
								<p>
									{v.start_date.toLocaleDateString('en', {year: 'numeric', month: 'short'})}
									-
									{v.end_date === null
										? 'Present'
										: v.end_date.toLocaleDateString('en', {year: 'numeric', month: 'short'})
									}
								</p>
							</div>
						</li>
					)}
				</ul>
			</section>
			<section>
				<h3><code>@about(<q>Education</q>)</code></h3>
				<ul>
					{Educations.All.map(v =>
						<li>
							{v.logo &&
								<Picture
									formats={['avif', 'webp']}
									src={v.logo}
									alt={`Logo ${v.university}`}
									width={80}
									height={80}
								/>
							}
							<div>
								<h4>{v.university}</h4>
								<p>{v.degree}</p>
								<p>{v.from_year} - {v.to_year} # GPA {v.grade}</p>
							</div>
						</li>
					)}
				</ul>
			</section>
		</div>
	</div>
</section>