---
import './_styles/variables.scss'
import './_styles/index.scss'
import './_styles/theme.scss'
import './_styles/header.scss'
import './_styles/main.scss'
import Html from '../../layouts/Html.astro'
import favicon from './_assets/favicon.svg'
import { C_About } from '../../constants/about'
import profilePicture from '../../assets/images/muhammad_sulais.jpg'
import logo_html from '../../assets/logos/html.svg'
import logo_css from '../../assets/logos/css.svg'
import logo_javascript from '../../assets/logos/javascript.svg'
import logo_solid from '../../assets/logos/solid.svg'
import logo_react from '../../assets/logos/react.svg'
import logo_vue from '../../assets/logos/vue.svg'
import logo_figma from '../../assets/logos/figma.svg'
import logo_svelte from '../../assets/logos/svelte.svg'
import logo_linkedin from '../../assets/logos/linkedin.svg'
import { C_Contacts } from '../../constants/contact'
import { C_Projects } from '../../constants/projects'
---

<Html favicon_url={favicon.src}>
    <header>
        <button>
            <img src={profilePicture.src} alt="Muhammad Sulais Photo Selfie">
            <img loading="lazy" hidden src="https://cdn.pixabay.com/photo/2025/07/20/07/37/hand-9723837_1280.jpg" alt="">
            <img loading="lazy" hidden src="https://cdn.pixabay.com/photo/2016/08/04/08/07/code-1568556_1280.jpg" alt="">
        </button>
        <div class="h-header">
            <h1 set:html={C_About.roleHTML}/>
            <ul class="h-skills">
                <li><img src={logo_html.src} alt="HTML logo"></li>
                <li><img src={logo_css.src} alt="CSS logo"></li>
                <li><img src={logo_javascript.src} alt="JavaScript logo"></li>
                <li><img src={logo_solid.src} alt="SolidJS logo"></li>
                <li><img src={logo_react.src} alt="React lovo"></li>
                <li><img src={logo_svelte.src} alt="Svelte logo"></li>
                <li><img src={logo_vue.src} alt="Vue logo"></li>
                <li><img src={logo_figma.src} alt="Figma logo"></li>
            </ul>
            <p><strong>{C_About.fullname}</strong> • <a href={C_About.locationURL}>{C_About.location}</a> • <a href={C_About.timezoneURL}>{C_About.timezoneText}</a></p>
            <div class="h-actions">
                <a href={C_Contacts.email.url}>
                    <span data-state="false">Contact me</span>
                    <span data-state="true">{C_Contacts.email.name}</span>
                </a>
                <a href={C_Contacts.linkedin.url} title="LinkedIn">
                    <img src={logo_linkedin.src} alt="LinkedIn logo">
                </a>
                <a href={C_Contacts.github.url} title="Github" style="max-height:1.5rem">
                    <svg style="width:1.5rem" viewBox="0 0 98 96" data-theme="light" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"></path></svg>
                    <svg style="width:1.5rem" viewBox="0 0 98 96" data-theme="dark" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#fff"></path></svg>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div style="position: sticky;top:8px;z-index: 9;">
            <div
                role="tablist"
                aria-label="Options"
                id='m-tabs-id'>
                <button
                    role="tab"
                    tabindex="0"
                    aria-selected="true"
                    aria-controls="about"
                    id="tab-about-id">
                    About
                </button>
                <button
                    role="tab"
                    tabindex="-1"
                    aria-selected="false"
                    aria-controls="works"
                    id="tab-works-id">
                    Works
                </button>
                <button
                    role="tab"
                    tabindex="-1"
                    aria-selected="false"
                    aria-controls="contact"
                    id="tab-contact-id">
                    Contact
                </button>
                <div aria-hidden="true"></div>
            </div>
        </div>
        <div id="about" role="tabpanel" tabindex="0" aria-labelledby="tab-about-id">
            <h2>About Me</h2>
            <p>What you need to know about me</p>
            <ul class="m-card-group">
                <li class="m-card">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                    <h3>Full name</h3>
                    <p>{C_About.fullname}</p>
                </li>
                <li class="m-card">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="M480-186q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 79q-14 0-28-5t-25-15q-65-60-115-117t-83.5-110.5q-33.5-53.5-51-103T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 45-17.5 94.5t-51 103Q698-301 648-244T533-127q-11 10-25 15t-28 5Zm0-453Zm0 80q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Z"/></svg>
                    <h3>Location</h3>
                    <p>{C_About.location}</p>
                </li>
                <li class="m-card">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="m193-479 155 155q11 11 11 28t-11 28q-11 11-28 11t-28-11L108-452q-6-6-8.5-13T97-480q0-8 2.5-15t8.5-13l184-184q12-12 28.5-12t28.5 12q12 12 12 28.5T349-635L193-479Zm574-2L612-636q-11-11-11-28t11-28q11-11 28-11t28 11l184 184q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L668-268q-12 12-28 11.5T612-269q-12-12-12-28.5t12-28.5l155-155Z"/></svg>
                    <h3 style="position:relative">
                        Web Experience
                        <span class="m-exp-info" tabindex="0">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                style="width:.8em;position:absolute;cursor:pointer"
                                viewBox="0 -960 960 960"
                                fill="rgb(var(--g-color-on-surface))">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                            </svg>
                            <span>
                                Including non-work experience
                            </span>
                        </span>
                    </h3>
                    <p><span id="m-about-year-id">{C_About.webExperienceYear()}</span> Years</p>
                </li>
                <li class="m-card">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="m603-202-34 97q-4 11-14 18t-22 7q-20 0-32.5-16.5T496-133l152-402q5-11 15-18t22-7h30q12 0 22 7t15 18l152 403q8 19-4 35.5T868-80q-13 0-22.5-7T831-106l-34-96H603ZM362-401 188-228q-11 11-27.5 11.5T132-228q-11-11-11-28t11-28l174-174q-35-35-63.5-80T190-640h84q20 39 40 68t48 58q33-33 68.5-92.5T484-720H80q-17 0-28.5-11.5T40-760q0-17 11.5-28.5T80-800h240v-40q0-17 11.5-28.5T360-880q17 0 28.5 11.5T400-840v40h240q17 0 28.5 11.5T680-760q0 17-11.5 28.5T640-720h-76q-21 72-63 148t-83 116l96 98-30 82-122-125Zm266 129h144l-72-204-72 204Z"/></svg>
                    <h3>Languages</h3>
                    <ul>
                        {C_About.Languages.all.map(v => <li>{v.name} ({v.difficulty})</li>)}
                    </ul>
                </li>
                <li class="m-card">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="M192-492 92-592q-12-12-12-28t12-28l100-100q12-12 28-12t28 12l100 100q12 12 12 28t-12 28L248-492q-12 12-28 12t-28-12ZM400-80q-17 0-28.5-11.5T360-120v-160q-50-4-99-11t-98-18q-17-4-27.5-19t-5.5-32q5-17 20.5-25t32.5-4q73 17 147.5 23t149.5 6q75 0 149.5-6T777-389q17-4 32.5 4t20.5 25q5 17-5.5 32T797-309q-49 11-98 18t-99 11v160q0 17-11.5 28.5T560-80H400ZM220-576l44-44-44-44-44 44 44 44Zm260-104q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0 280q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-360q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Zm191 260-46-80q-5-9-5-20t5-20l46-80q5-10 14-15t20-5h90q11 0 20 5t14 15l46 80q5 9 5 20t-5 20l-46 80q-5 10-14 15t-20 5h-90q-11 0-20-5t-14-15Zm57-60h44l22-40-22-40h-44l-22 40 22 40Zm-508-60Zm260-180Zm270 200Z"/></svg>
                    <h3>Skills</h3>
                    <ul style="list-style: none;">
                        <li><img src={logo_html.src} alt="HTML logo">HTML</li>
                        <li><img src={logo_css.src} alt="CSS logo"> CSS</li>
                        <li><img src={logo_javascript.src} alt="JavaScript logo"> JavaScript</li>
                        <li><img src={logo_solid.src} alt="SolidJS logo"> Solid</li>
                        <li><img src={logo_react.src} alt="React lovo"> React</li>
                        <li><img src={logo_svelte.src} alt="Svelte logo"> Svelte</li>
                        <li><img src={logo_vue.src} alt="Vue logo"> Vue</li>
                        <li><img src={logo_figma.src} alt="Figma logo"> Figma</li>
                    </ul>
                </li>
                <li class="m-card" style="flex: 1 1 300px">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="M242-249q-20-11-31-29.5T200-320v-192l-96-53q-11-6-16-15t-5-20q0-11 5-20t16-15l338-184q9-5 18.5-7.5T480-829q10 0 19.5 2.5T518-819l381 208q10 5 15.5 14.5T920-576v256q0 17-11.5 28.5T880-280q-17 0-28.5-11.5T840-320v-236l-80 44v192q0 23-11 41.5T718-249L518-141q-9 5-18.5 7.5T480-131q-10 0-19.5-2.5T442-141L242-249Zm238-203 274-148-274-148-274 148 274 148Zm0 241 200-108v-151l-161 89q-9 5-19 7.5t-20 2.5q-10 0-20-2.5t-19-7.5l-161-89v151l200 108Zm0-241Zm0 121Zm0 0Z"/></svg>
                    <h3>Education</h3>
                    <ol>
                        {C_About.Educations.all.map(v => <li>
                            {v.university}
                            <ul>
                                <li>{v.degree}</li>
                                <li>{v.from_year}-{v.to_year}</li>
                            </ul>
                        </li>)}
                    </ol>
                </li>
                <li class="m-card" style="flex: 1 1 300px">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm0-80h640v-440H160v440Zm240-520h160v-80H400v80ZM160-200v-440 440Z"/></svg>
                    <h3>Work history</h3>
                    <ol>
                        {C_About.Works.all.map(v => <li>
                            {v.company}
                            <ul>
                                <li>{v.role}</li>
                                <li>{v.from_year}-{v.to_year < 0? 'present' : v.to_year}</li>
                            </ul>
                        </li>)}
                    </ol>
                </li>
            </ul>
        </div>
        <div id="works" style="display:none;" role="tabpanel" tabindex="0" aria-labelledby="tab-works-id">
            <h2>My Works</h2>
            <p>Transforming ideas into digital reality</p>
            <ul class="m-works-group">
                {C_Projects.all.map(v => <li>
                    <button data-links={v.urls.join(',')} data-tags={v.technology.join(',')}>
                        <img draggable="false" src={v.images[0][0]} alt={v.images[0][1]}/>
                        <h3>{v.name}</h3>
                        <div hidden data-images>
                            {v.images.map(img =>
                                <img loading="lazy" src={img[0]} alt={img[1]}/>
                            )}
                        </div>
                        <div hidden data-description set:html={v.description}/>
                    </button>
                </li>)}
            </ul>
            <dialog id="m-works-dialog-id">
                <div>
                    <button id="m-works-dialog-close-id" aria-label="Close dialog">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:1.25rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface-dark))"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </button>
                    <div class="m-works-dialog-images"></div>
                    <div
                        class="m-works-dialog-images-indicator"
                        role="tablist"
                        aria-label="Tabs between images"
                    ></div>
                    <h2></h2>
                    <ul class="m-works-dialog-link"></ul>
                    <ul class="m-works-dialog-tags"></ul>
                    <div class="m-works-dialog-description"></div>
                </div>
            </dialog>
        </div>
        <div id="contact" style="display:none;" role="tabpanel" tabindex="0" aria-labelledby="tab-contact-id">
            <h2>Contact Me</h2>
            <p>Love to hear from you, get in touch</p>
            <ul class="m-card-group m-contact-list">
                <li class="m-card">
                    <a href={C_Contacts.email.url}>
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:2rem" viewBox="0 -960 960 960" fill="rgb(var(--g-color-on-surface))"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280 320-200v-80L480-520 160-720v80l320 200Z"/></svg>
                        <h3>Email</h3>
                        <p>{C_Contacts.email.name}</p>
                    </a>
                </li>
                <li class="m-card">
                    <a href={C_Contacts.linkedin.url}>
                        <svg style="width:2rem" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="#007EBB"></path><path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#FFF"></path></g></svg>
                        <h3>LinkedIn</h3>
                        <p>{C_Contacts.linkedin.name}</p>
                    </a>
                </li>
                <li class="m-card">
                    <a href={C_Contacts.instagram.url}>
                        <svg style="width:2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_203_37)"> <path d="M8.00064 12C8.00064 9.79094 9.79094 7.99968 12 7.99968C14.2091 7.99968 16.0003 9.79094 16.0003 12C16.0003 14.2091 14.2091 16.0003 12 16.0003C9.79094 16.0003 8.00064 14.2091 8.00064 12ZM5.83814 12C5.83814 15.4032 8.5968 18.1619 12 18.1619C15.4032 18.1619 18.1619 15.4032 18.1619 12C18.1619 8.5968 15.4032 5.83814 12 5.83814C8.5968 5.83814 5.83814 8.5968 5.83814 12ZM16.9658 5.59382C16.9657 5.87863 17.05 6.15707 17.2082 6.39394C17.3663 6.63081 17.5911 6.81547 17.8542 6.92457C18.1173 7.03366 18.4068 7.06229 18.6862 7.00684C18.9655 6.95139 19.2221 6.81435 19.4236 6.61304C19.6251 6.41173 19.7623 6.15521 19.818 5.8759C19.8737 5.59658 19.8453 5.30704 19.7364 5.04387C19.6275 4.7807 19.443 4.55573 19.2063 4.3974C18.9695 4.23908 18.6912 4.15451 18.4064 4.1544H18.4058C18.024 4.15458 17.658 4.30627 17.388 4.57616C17.118 4.84605 16.9661 5.21207 16.9658 5.59382ZM7.152 21.7677C5.98205 21.7144 5.34614 21.5196 4.92355 21.3549C4.3633 21.1368 3.96355 20.877 3.54326 20.4573C3.12298 20.0376 2.86282 19.6382 2.64566 19.078C2.48093 18.6556 2.28605 18.0195 2.23286 16.8495C2.17469 15.5846 2.16307 15.2047 2.16307 12.0001C2.16307 8.79552 2.17565 8.41661 2.23286 7.15066C2.28614 5.9807 2.48246 5.34586 2.64566 4.92221C2.86378 4.36195 3.12355 3.96221 3.54326 3.54192C3.96298 3.12163 4.36234 2.86147 4.92355 2.64432C5.34595 2.47958 5.98205 2.2847 7.152 2.23152C8.4169 2.17334 8.79686 2.16173 12 2.16173C15.2031 2.16173 15.5835 2.1743 16.8494 2.23152C18.0194 2.2848 18.6542 2.48112 19.0779 2.64432C19.6381 2.86147 20.0379 3.12221 20.4582 3.54192C20.8785 3.96163 21.1377 4.36195 21.3558 4.92221C21.5205 5.34461 21.7154 5.9807 21.7686 7.15066C21.8268 8.41661 21.8384 8.79552 21.8384 12.0001C21.8384 15.2047 21.8268 15.5836 21.7686 16.8495C21.7153 18.0195 21.5195 18.6554 21.3558 19.078C21.1377 19.6382 20.8779 20.038 20.4582 20.4573C20.0385 20.8766 19.6381 21.1368 19.0779 21.3549C18.6555 21.5196 18.0194 21.7145 16.8494 21.7677C15.5845 21.8259 15.2046 21.8375 12 21.8375C8.79542 21.8375 8.41651 21.8259 7.152 21.7677ZM7.05264 0.072672C5.77517 0.130848 4.90224 0.333408 4.1399 0.630048C3.3504 0.936384 2.68205 1.34736 2.01418 2.01418C1.3463 2.68099 0.936384 3.3504 0.630048 4.1399C0.333408 4.90272 0.130848 5.77517 0.072672 7.05264C0.013536 8.33213 0 8.74118 0 12C0 15.2588 0.013536 15.6679 0.072672 16.9474C0.130848 18.2249 0.333408 19.0973 0.630048 19.8601C0.936384 20.6491 1.3464 21.3193 2.01418 21.9858C2.68195 22.6524 3.3504 23.0628 4.1399 23.37C4.90368 23.6666 5.77517 23.8692 7.05264 23.9273C8.3328 23.9855 8.74118 24 12 24C15.2588 24 15.6679 23.9865 16.9474 23.9273C18.2249 23.8692 19.0973 23.6666 19.8601 23.37C20.6491 23.0628 21.318 22.6526 21.9858 21.9858C22.6537 21.319 23.0628 20.6491 23.37 19.8601C23.6666 19.0973 23.8701 18.2248 23.9273 16.9474C23.9855 15.6669 23.999 15.2588 23.999 12C23.999 8.74118 23.9855 8.33213 23.9273 7.05264C23.8692 5.77507 23.6666 4.90224 23.37 4.1399C23.0628 3.35088 22.6526 2.68205 21.9858 2.01418C21.319 1.3463 20.6491 0.936384 19.8611 0.630048C19.0973 0.333408 18.2248 0.129888 16.9483 0.072672C15.6688 0.014496 15.2598 0 12.001 0C8.74214 0 8.3328 0.013536 7.05264 0.072672Z" fill="url(#paint0_radial_203_37)"></path> <path d="M8.00064 12C8.00064 9.79094 9.79094 7.99968 12 7.99968C14.2091 7.99968 16.0003 9.79094 16.0003 12C16.0003 14.2091 14.2091 16.0003 12 16.0003C9.79094 16.0003 8.00064 14.2091 8.00064 12ZM5.83814 12C5.83814 15.4032 8.5968 18.1619 12 18.1619C15.4032 18.1619 18.1619 15.4032 18.1619 12C18.1619 8.5968 15.4032 5.83814 12 5.83814C8.5968 5.83814 5.83814 8.5968 5.83814 12ZM16.9658 5.59382C16.9657 5.87863 17.05 6.15707 17.2082 6.39394C17.3663 6.63081 17.5911 6.81547 17.8542 6.92457C18.1173 7.03366 18.4068 7.06229 18.6862 7.00684C18.9655 6.95139 19.2221 6.81435 19.4236 6.61304C19.6251 6.41173 19.7623 6.15521 19.818 5.8759C19.8737 5.59658 19.8453 5.30704 19.7364 5.04387C19.6275 4.7807 19.443 4.55573 19.2063 4.3974C18.9695 4.23908 18.6912 4.15451 18.4064 4.1544H18.4058C18.024 4.15458 17.658 4.30627 17.388 4.57616C17.118 4.84605 16.9661 5.21207 16.9658 5.59382ZM7.152 21.7677C5.98205 21.7144 5.34614 21.5196 4.92355 21.3549C4.3633 21.1368 3.96355 20.877 3.54326 20.4573C3.12298 20.0376 2.86282 19.6382 2.64566 19.078C2.48093 18.6556 2.28605 18.0195 2.23286 16.8495C2.17469 15.5846 2.16307 15.2047 2.16307 12.0001C2.16307 8.79552 2.17565 8.41661 2.23286 7.15066C2.28614 5.9807 2.48246 5.34586 2.64566 4.92221C2.86378 4.36195 3.12355 3.96221 3.54326 3.54192C3.96298 3.12163 4.36234 2.86147 4.92355 2.64432C5.34595 2.47958 5.98205 2.2847 7.152 2.23152C8.4169 2.17334 8.79686 2.16173 12 2.16173C15.2031 2.16173 15.5835 2.1743 16.8494 2.23152C18.0194 2.2848 18.6542 2.48112 19.0779 2.64432C19.6381 2.86147 20.0379 3.12221 20.4582 3.54192C20.8785 3.96163 21.1377 4.36195 21.3558 4.92221C21.5205 5.34461 21.7154 5.9807 21.7686 7.15066C21.8268 8.41661 21.8384 8.79552 21.8384 12.0001C21.8384 15.2047 21.8268 15.5836 21.7686 16.8495C21.7153 18.0195 21.5195 18.6554 21.3558 19.078C21.1377 19.6382 20.8779 20.038 20.4582 20.4573C20.0385 20.8766 19.6381 21.1368 19.0779 21.3549C18.6555 21.5196 18.0194 21.7145 16.8494 21.7677C15.5845 21.8259 15.2046 21.8375 12 21.8375C8.79542 21.8375 8.41651 21.8259 7.152 21.7677ZM7.05264 0.072672C5.77517 0.130848 4.90224 0.333408 4.1399 0.630048C3.3504 0.936384 2.68205 1.34736 2.01418 2.01418C1.3463 2.68099 0.936384 3.3504 0.630048 4.1399C0.333408 4.90272 0.130848 5.77517 0.072672 7.05264C0.013536 8.33213 0 8.74118 0 12C0 15.2588 0.013536 15.6679 0.072672 16.9474C0.130848 18.2249 0.333408 19.0973 0.630048 19.8601C0.936384 20.6491 1.3464 21.3193 2.01418 21.9858C2.68195 22.6524 3.3504 23.0628 4.1399 23.37C4.90368 23.6666 5.77517 23.8692 7.05264 23.9273C8.3328 23.9855 8.74118 24 12 24C15.2588 24 15.6679 23.9865 16.9474 23.9273C18.2249 23.8692 19.0973 23.6666 19.8601 23.37C20.6491 23.0628 21.318 22.6526 21.9858 21.9858C22.6537 21.319 23.0628 20.6491 23.37 19.8601C23.6666 19.0973 23.8701 18.2248 23.9273 16.9474C23.9855 15.6669 23.999 15.2588 23.999 12C23.999 8.74118 23.9855 8.33213 23.9273 7.05264C23.8692 5.77507 23.6666 4.90224 23.37 4.1399C23.0628 3.35088 22.6526 2.68205 21.9858 2.01418C21.319 1.3463 20.6491 0.936384 19.8611 0.630048C19.0973 0.333408 18.2248 0.129888 16.9483 0.072672C15.6688 0.014496 15.2598 0 12.001 0C8.74214 0 8.3328 0.013536 7.05264 0.072672Z" fill="url(#paint1_radial_203_37)"></path> </g> <defs> <radialGradient id="paint0_radial_203_37" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.18854 24.1134) scale(31.33 31.33)"> <stop offset="0.09" stop-color="#FA8F21"></stop> <stop offset="0.78" stop-color="#D82D7E"></stop> </radialGradient> <radialGradient id="paint1_radial_203_37" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.5549 25.1886) scale(24.6924)"> <stop offset="0.64" stop-color="#8C3AAA" stop-opacity="0"></stop> <stop offset="1" stop-color="#8C3AAA"></stop> </radialGradient> <clipPath id="clip0_203_37"> <rect width="32" height="32" fill="white"></rect> </clipPath> </defs> </svg>
                        <h3>Instagram</h3>
                        <p>{C_Contacts.instagram.name}</p>
                    </a>
                </li>
                <li class="m-card">
                    <a href={C_Contacts.x.url}>
                        <svg style="width:2rem" data-theme="light" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="#000"></path></svg>
                        <svg style="width:2rem" data-theme="dark" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="#fff"></path></svg>
                        <h3>Twitter/X</h3>
                        <p>{C_Contacts.x.name}</p>
                    </a>
                </li>
                <li class="m-card">
                    <a href={C_Contacts.github.url}>
                        <svg style="width:2rem" viewBox="0 0 98 96" data-theme="light" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"></path></svg>
                        <svg style="width:2rem" viewBox="0 0 98 96" data-theme="dark" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#fff"></path></svg>
                        <h3>Github</h3>
                        <p>{C_Contacts.github.name}</p>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <script src="./_scripts/index.ts"></script>
</Html>