---
import { C_LatestVersion } from '../../../../constants/version'
import { Ids } from '../../_scripts/shared/ids'
import CSS from './index.module.scss'
---

<dialog class={CSS.version} id={Ids.version}>
	<button class={CSS.close} id={Ids.version_close}>
		<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M11.0625 15.5585C11.0625 15.6911 11.0098 15.8183 10.9161 15.9121L3.97457 22.8536C3.8808 22.9473 3.75363 23 3.62102 23H1.5C1.22386 23 1 22.7761 1 22.5V20.379C1 20.2464 1.05268 20.1192 1.14645 20.0254L8.08793 13.0839C8.1817 12.9902 8.30887 12.9375 8.44148 12.9375H10.5625C10.8386 12.9375 11.0625 13.1614 11.0625 13.4375V15.5585ZM22.8536 20.0254C22.9473 20.1192 23 20.2464 23 20.379V22.5C23 22.7761 22.7761 23 22.5 23H20.379C20.2464 23 20.1192 22.9473 20.0254 22.8536L13.0839 15.9121C12.9902 15.8183 12.9375 15.6911 12.9375 15.5585V13.4375C12.9375 13.1614 13.1614 12.9375 13.4375 12.9375H15.5585C15.6911 12.9375 15.8183 12.9902 15.9121 13.0839L22.8536 20.0254ZM10.9161 8.08793C11.0098 8.1817 11.0625 8.30887 11.0625 8.44148V10.5625C11.0625 10.8386 10.8386 11.0625 10.5625 11.0625H8.44148C8.30887 11.0625 8.1817 11.0098 8.08793 10.9161L1.14645 3.97457C1.05268 3.8808 1 3.75363 1 3.62102V1.5C1 1.22386 1.22386 1 1.5 1H3.62102C3.75363 1 3.8808 1.05268 3.97457 1.14645L10.9161 8.08793ZM23 3.62102C23 3.75363 22.9473 3.8808 22.8536 3.97457L15.9121 10.9161C15.8183 11.0098 15.6911 11.0625 15.5585 11.0625H13.4375C13.1614 11.0625 12.9375 10.8386 12.9375 10.5625V8.44148C12.9375 8.30887 12.9902 8.1817 13.0839 8.08793L20.0254 1.14645C20.1192 1.05268 20.2464 1 20.379 1H22.5C22.7761 1 23 1.22386 23 1.5V3.62102Z" fill="#202020"/>
		</svg>
		CLOSE
	</button>
	<p class={CSS.title}>VERSION</p>
	<ul class={CSS.list}>
		{new Array(C_LatestVersion).fill(1).map((_, i) =>
			<li><a href={'/v' + (i + 1)} data-selected={(i + 1) === 5? '' : null}>{i + 1}</a></li>
		)}
	</ul>
</dialog>