---
import CSS from './index.module.scss'
import profilePicture from '../../../../assets/images/muhammad_sulais.jpg'
import { C_Contacts } from '../../../../constants/contact'
---

<section class={CSS.hero} aria-label="Home">
	<div class={CSS.image}>
		<img src={profilePicture.src} alt="MUHAMMAD SULAIS">
	</div>
	<div class={CSS.about}>
		<h1>MUHAMMAD<br/>SULAIS</h1>
		<p class={CSS.info}>Based in Yogyakarta, Indonesia / <a href={C_Contacts.linkedin.url}>LinkedIn</a> / <a href={C_Contacts.github.url}>Github</a></p>
		<p class={CSS.role}>Frontend <br/>Web Developer</p>
	</div>
</section>