---
import CSS from './index.module.scss'
import { C_Contacts } from '../../../../constants/contact'
import { C_About } from '../../../../constants/about'
---

<section class={CSS.hero} aria-label="Home">
	<div class={CSS.image}>
		<img src={C_About.ProfilePicture} alt={C_About.FullName}>
	</div>
	<div class={CSS.about}>
		<h1 set:html={C_About.FullNameHTML.toUpperCase()}/>
		<p class={CSS.info}>Based in {C_About.Location} / <a href={C_Contacts.Linkedin.url} rel="noopener noreferrer" target="_blank">LinkedIn</a> / <a href={C_Contacts.Github.url} rel="noopener noreferrer" target="_blank">Github</a></p>
		<p class={CSS.role} set:html={C_About.RoleHTML}/>
	</div>
</section>
<svg class={CSS.wave} viewBox="0 0 1280 509" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M-23.9352 398.892C172.467 277.124 370.201 503.499 563.471 503.499C756.741 503.499 860.385 408.323 925.687 253.659C990.99 98.9953 1162.05 68.7324 1297 98.9953" stroke="#FFFF00" stroke-width="8"/>
	<path d="M-19.9117 511.546C20.3215 406.849 169.4 372.049 361 406.849C600.5 450.349 753.496 471.44 906.001 381.849C1057.5 292.849 1095.5 70.3495 1331 3.84947" stroke="#5F5F5F" stroke-width="8"/>
</svg>