---
import { C_About } from "../../../../constants/about";
import { Ids } from "../../_scripts/shared/ids";
import CSS from './index.module.scss'
---

<section class={CSS.about} id={Ids.page_about}>
	<div class={CSS.title}>
		<svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M64 23.737C64 24.2134 63.7459 24.6536 63.3333 24.8917L32.6872 42.5858C32.2746 42.824 31.7664 42.824 31.3538 42.5858L0.666658 24.8683C0.254127 24.6301 0 24.19 0 23.7136V17.3333C0 16.597 0.596954 16 1.33333 16H6.21401C6.44807 16 6.678 16.0616 6.8807 16.1786L31.3197 30.2889C31.7322 30.5271 32.2405 30.5271 32.653 30.2889L57.0939 16.1786C57.2966 16.0616 57.5265 16 57.7606 16H62.6667C63.403 16 64 16.597 64 17.3333V23.737Z" fill="white"/>
			<path d="M31.9842 49.3391C31.9855 49.3399 31.9871 49.3398 31.9883 49.3389C31.9895 49.338 31.9911 49.3379 31.9923 49.3387L40.6565 54.3411C41.5453 54.8543 41.5454 56.1372 40.6566 56.6504L32.8563 61.1549C32.6536 61.2719 32.4236 61.3336 32.1895 61.3336H31.8514C31.6174 61.3336 31.3874 61.2719 31.1847 61.1549L23.3445 56.6279C22.4557 56.1147 22.4557 54.8317 23.3445 54.3185L31.972 49.3372C31.9748 49.3356 31.9783 49.3356 31.9811 49.3373L31.9842 49.3391ZM56 47.0218C56 47.4981 55.7459 47.9383 55.3333 48.1765L48.8317 51.9301C48.4192 52.1683 47.9109 52.1683 47.4984 51.9301L39.4992 47.3116C38.6102 46.7984 38.6103 45.5153 39.4993 45.0022L54.0001 36.6316C54.889 36.1184 56 36.76 56 37.7863V47.0218ZM24.4679 44.9992C25.3568 45.5124 25.3568 46.7953 24.4679 47.3085L16.5026 51.9076C16.0901 52.1458 15.5818 52.1458 15.1692 51.9076L8.66663 48.153C8.25411 47.9149 8 47.4747 8 46.9984V37.8003C8 36.7738 9.11114 36.1323 10 36.6456L24.4679 44.9992Z" fill="white"/>
			<path d="M46.667 2.66669C47.4031 2.66686 47.9998 3.26357 48 3.99969V13.7585C48 14.2294 47.7517 14.6658 47.3467 14.9059L32.6797 23.5974C32.2606 23.8456 31.7394 23.8456 31.3203 23.5974L16.6533 14.9059C16.2483 14.6658 16 14.2294 16 13.7585V3.99969C16.0002 3.26357 16.5969 2.66686 17.333 2.66669H46.667Z" fill="#FFFF00"/>
		</svg>
		<h2>About Me</h2>
		<p>Know more about me</p>
	</div>
	<ul class={CSS.content}>
		<li>
			<ul>
				<li>Full Name:<br/><span>{C_About.FullName}</span></li>
				<li>Location:<br/><span>{C_About.Location}</span></li>
				<li>Web Experience:<br/><span><span id={Ids.about_experience}>{C_About.WebExperienceYear()}</span> years (hobby only)</span></li>
			</ul>
		</li>
		<li>
			Skills:
			<ul>
				{C_About.Skills.AllGroup.map(v =>
					<li>{v.map(v => v.name).join(', ')}</li>
				)}
			</ul>
		</li>
		<li>
			Languages:
			<ul>
				{C_About.Languages.all.map(v =>
					<li>{v.name} ({v.difficulty})</li>
				)}
			</ul>
		</li>
		<li>
			Educations:
			<ul>
				{C_About.Educations.All.map(v =>
					<li>{v.university} / {v.degree} / {v.from_year}-{v.to_year}</li>
				)}
			</ul>
		</li>
		<li>
			Work history:
			<ul>
				{C_About.Works.All.map(v =>
					<li>{v.role} at {v.company} / {v.from_year}-{v.to_year < 0? 'present' : v.to_year}</li>
				)}
			</ul>
		</li>
	</ul>
	<svg aria-hidden="true" class={CSS.lineTop} viewBox="0 0 1017 8" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M135 8H0V0H135V8ZM165 8H144V0H165V8ZM236 8H174V0H236V8ZM253 8H245V0H253V8ZM270 8H262V0H270V8ZM307 8H279V0H307V8ZM378 8H316V0H378V8ZM522 8H387V0H522V8ZM552 8H531V0H552V8ZM623 8H561V0H623V8ZM640 8H632V0H640V8ZM657 8H649V0H657V8ZM694 8H666V0H694V8ZM765 8H703V0H765V8ZM909 8H774V0H909V8ZM939 8H918V0H939V8ZM956 8H948V0H956V8ZM973 8H965V0H973V8ZM1017 8H982V0H1017V8Z" fill="#202020"/>
	</svg>
	<svg aria-hidden="true" class={CSS.lineBottom} viewBox="0 0 1017 8" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M35 8H0V0H35V8ZM52 8H44V0H52V8ZM69 8H61V0H69V8ZM99 8H78V0H99V8ZM243 8H108V0H243V8ZM314 0V8H252V0H314ZM351 8H323V0H351V8ZM368 8H360V0H368V8ZM385 8H377V0H385V8ZM456 8H394V0H456V8ZM486 8H465V0H486V8ZM630 8H495V0H630V8ZM701 8H639V0H701V8ZM738 8H710V0H738V8ZM755 8H747V0H755V8ZM772 8H764V0H772V8ZM843 8H781V0H843V8ZM873 8H852V0H873V8ZM1017 8H882V0H1017V8Z" fill="#202020"/>
	</svg>
	<div aria-hidden="true" class={CSS.tripleDots}>
		<div></div>
		<div></div>
		<div></div>
	</div>
</section>