---
import { C_Projects } from "../../../../constants/projects";
import { Ids } from "../../_scripts/shared/ids";
import fallbackImg from '../../_assets/images/image-not-available.png'
import CSS from './index.module.scss'
---

<section id={Ids.page_projects} class={CSS.projects}>
	<div aria-hidden="true" class={CSS.strips}/>
	<div class={CSS.content}>
		<div class={CSS.title}>
			<svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M17.1377 32.3199C16.6178 33.1707 15.3822 33.1707 14.8623 32.3199L1.2397 10.0284C0.696751 9.13995 1.33617 7.99982 2.37741 7.99982L29.6226 7.99982C30.6638 7.99982 31.3033 9.13995 30.7603 10.0284L17.1377 32.3199Z" fill="#202020"/>
				<path d="M33.1377 58.5019C32.6178 59.3527 31.3822 59.3527 30.8623 58.5019L17.2397 36.2104C16.6967 35.322 17.3362 34.1818 18.3774 34.1818L45.6226 34.1818C46.6638 34.1818 47.3033 35.322 46.7603 36.2104L33.1377 58.5019Z" fill="#202020"/>
				<path d="M49.1377 32.3199C48.6178 33.1707 47.3822 33.1707 46.8623 32.3199L33.2397 10.0284C32.6968 9.13995 33.3362 7.99982 34.3774 7.99982L61.6226 7.99982C62.6638 7.99982 63.3033 9.13995 62.7603 10.0284L49.1377 32.3199Z" fill="#FFFF00"/>
			</svg>
			<div>
				<h2>My Projects</h2>
				<p>Every ideas that I turn into digital reality</p>
			</div>
		</div>
		<ul class={CSS.list}>
			<li aria-label="Projects count">{C_Projects.all.length} PROJECTS</li>
			{C_Projects.all.map(v =>
				<li>
					<button>
						<div data-css-image>
							<img src={v.images[0]?.[0] ?? fallbackImg.src} alt={v.name}/>
						</div>
						<p>
							<strong>{v.name}</strong>
							<span>
								<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.8535 21.7315C23.9473 21.8252 24 21.9524 24 22.0851V23.5C24 23.7761 23.7761 24 23.5 24H22.086C21.9534 24 21.8262 23.9473 21.7324 23.8536L16.9028 19.0239C16.6893 18.8104 16.7129 18.4585 16.9429 18.2629C17.4178 17.8592 17.8593 17.4178 18.263 16.9429C18.4585 16.7129 18.8104 16.6893 19.0239 16.9027L23.8535 21.7315Z"/>
									<path d="M2.99593 7.97152C3.11544 8.09102 3.16509 8.26258 3.13725 8.42927C3.07908 8.77753 3.04883 9.13523 3.04883 9.5C3.04883 13.0629 5.93714 15.9512 9.5 15.9512C11.5912 15.9512 13.4488 14.9553 14.6273 13.4127C14.823 13.1566 15.2036 13.1118 15.4314 13.3396L16.8773 14.7855C17.0514 14.9596 17.0739 15.2355 16.9201 15.4278C15.1795 17.6043 12.5037 19 9.5 19C4.25329 19 0 14.7467 0 9.5C0 8.42711 0.177863 7.39577 0.505699 6.43383C0.619691 6.09936 1.04189 6.01747 1.29176 6.26734L2.99593 7.97152ZM9.5 0C14.7467 0 19 4.25329 19 9.5C19 10.5887 18.8155 11.634 18.4778 12.6078C18.3624 12.9408 17.9413 13.0214 17.6921 12.7722L15.994 11.074C15.8736 10.9537 15.8241 10.7805 15.8535 10.6128C15.917 10.2513 15.9512 9.87963 15.9512 9.5C15.9512 5.93714 13.0629 3.04883 9.5 3.04883C7.39607 3.04883 5.52707 4.05586 4.3494 5.61433C4.15437 5.87242 3.7721 5.91868 3.5433 5.68999L2.09719 4.24452C1.92357 4.07097 1.90052 3.79609 2.05303 3.60371C3.79304 1.40876 6.48146 0 9.5 0Z"/>
								</svg>
							</span>
						</p>
					</button>
				</li>
			)}
		</ul>
	</div>
	<div aria-hidden="true" class={CSS.strips}/>
</section>