---
import Html from "../../layouts/Html.astro";
import VersionWarning from '../../components/VersionWarning/index.astro'
import './_styles/variables.scss'
import './_styles/index.scss'
import './_styles/block-effect.scss'
import './_styles/footer.scss'
import './_styles/header.scss'
import './_styles/language.scss'
import './_styles/logo.scss'
import './_styles/main.scss'
import './_styles/theme.scss'
import './_styles/pages/index.scss'
import './_styles/pages/about.scss'
import './_styles/pages/contact.scss'
import './_styles/pages/works.scss'

import favicon_ico from './_favicon/favicon.ico'
import favicon_appletouchicon from './_favicon/apple-touch-icon.png'
import favicon_32 from './_favicon/favicon-32x32.png'
import favicon_16 from './_favicon/favicon-16x16.png'
import { C_Contacts } from "../../constants/contact";
import { C_Quotes } from "../../constants/quotes";
import { C_About } from "../../constants/about";
---

<Html data-theme="system">
	<Fragment slot="favicon">
		<link rel="icon" href={favicon_ico} />
		<link rel="shortcut icon" type="image/ico" href={favicon_ico} />
		<link rel="apple-touch-icon" sizes="180x180" href={favicon_appletouchicon.src}>
		<link rel="icon" type="image/png" sizes="32x32" href={favicon_32.src}>
		<link rel="icon" type="image/png" sizes="16x16" href={favicon_16.src}>
	</Fragment>
	<div id="g-route-listener"></div>
    <header>
        <button id="h-logo-btn">
            <div id="logo">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <span>Muhammad&nbsp;</span>Sulais
        </button>
        <nav id="h-navigation">
            <a href="#" data-selected>
                <span lang="en">Home</span>
            </a>
            /
            <a href="#about">
                <span lang="en">About</span>
            </a>
            /
            <a href="#works">
                <span lang="en">Works</span>
            </a>
            /
            <a href="#contact">
                <span lang="en">Contact</span>
            </a>
        </nav>
        <button id="h-menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(var(--g-color-on-surface))">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
        </button>
        <dialog id="h-dialog">
            <button id="h-dialog-close">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(var(--g-color-on-surface))"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </button>
            <a href="#" data-selected>
                <span lang="en">Home</span>
            </a>
            <a href="#about">
                <span lang="en">About</span>
            </a>
            <a href="#works">
                <span lang="en">Works</span>
            </a>
            <a href="#contact">
                <span lang="en">Contact</span>
            </a>
        </dialog>
    </header>
    <main class="no-view">
        <div data-page-target="#" data-selected>
            <h1>
                <span lang="en">{C_Quotes.HeroTitle}</span>
            </h1>
            <p>
                <span lang="en">{C_Quotes.HeroSubtitle}</span>
            </p>
            <button id="mp-home-btn">
                <span data-state="1">{C_About.role}</span>
                <span data-state="2">
                    <span lang="en">Contact me</span>
                </span>
            </button>
        </div>
        <div data-page-target="#about">
            <h2>
                <span lang="en">About Me</span>
            </h2>
            {C_About.intro.map(v =>
                <p>{v}</p>
            )}
            <details open>
                <summary>
                    <span lang="en">Skills</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(var(--g-color-on-surface))"><path d="M440-313v-447q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v447l196-196q12-12 28-11.5t28 12.5q11 12 11.5 28T772-452L508-188q-6 6-13 8.5t-15 2.5q-8 0-15-2.5t-13-8.5L188-452q-11-11-11-27.5t11-28.5q12-12 28.5-12t28.5 12l195 195Z"/></svg>
                </summary>
                <div>
                    <ul class="mp-about-skills">
                        {C_About.Skills.all.map(v =>
                            <li><img src={v.imgURL}/>{v.name}</li>
                        )}
                    </ul>
                </div>
            </details>
            <details open>
                <summary>
                    <span lang="en">Educations</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(var(--g-color-on-surface))"><path d="M440-313v-447q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v447l196-196q12-12 28-11.5t28 12.5q11 12 11.5 28T772-452L508-188q-6 6-13 8.5t-15 2.5q-8 0-15-2.5t-13-8.5L188-452q-11-11-11-27.5t11-28.5q12-12 28.5-12t28.5 12l195 195Z"/></svg>
                </summary>
                <div>
                    <ul class="mp-about-educations">
                        {C_About.Educations.all.map(v =>
                            <li>{v.university}<ul>
                                <li>{v.degree} ({v.from_year} - {v.to_year})</li>
                            </ul></li>
                        )}
                    </ul>
                </div>
            </details>
            <details open>
                <summary>
                    <span lang="en">Work history</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(var(--g-color-on-surface))"><path d="M440-313v-447q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v447l196-196q12-12 28-11.5t28 12.5q11 12 11.5 28T772-452L508-188q-6 6-13 8.5t-15 2.5q-8 0-15-2.5t-13-8.5L188-452q-11-11-11-27.5t11-28.5q12-12 28.5-12t28.5 12l195 195Z"/></svg>
                </summary>
                <div>
                    <ul class="mp-about-works">
                        {C_About.Works.all.map(v =>
                            <li>{v.company}<ul>
                                <li>{v.role} ({v.from_year} - {v.to_year < 0? 'Present' : v.to_year})</li>
                            </ul></li>
                        )}
                    </ul>
                </div>
            </details>
            <details open>
                <summary>
                    <span lang="en">Social media</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="rgb(var(--g-color-on-surface))"><path d="M440-313v-447q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v447l196-196q12-12 28-11.5t28 12.5q11 12 11.5 28T772-452L508-188q-6 6-13 8.5t-15 2.5q-8 0-15-2.5t-13-8.5L188-452q-11-11-11-27.5t11-28.5q12-12 28.5-12t28.5 12l195 195Z"/></svg>
                </summary>
                <div>
                    <ul class="mp-about-socialMedia">
                        <li>
                            <a href={C_Contacts.instagram.url}>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_203_37)"> <path d="M8.00064 12C8.00064 9.79094 9.79094 7.99968 12 7.99968C14.2091 7.99968 16.0003 9.79094 16.0003 12C16.0003 14.2091 14.2091 16.0003 12 16.0003C9.79094 16.0003 8.00064 14.2091 8.00064 12ZM5.83814 12C5.83814 15.4032 8.5968 18.1619 12 18.1619C15.4032 18.1619 18.1619 15.4032 18.1619 12C18.1619 8.5968 15.4032 5.83814 12 5.83814C8.5968 5.83814 5.83814 8.5968 5.83814 12ZM16.9658 5.59382C16.9657 5.87863 17.05 6.15707 17.2082 6.39394C17.3663 6.63081 17.5911 6.81547 17.8542 6.92457C18.1173 7.03366 18.4068 7.06229 18.6862 7.00684C18.9655 6.95139 19.2221 6.81435 19.4236 6.61304C19.6251 6.41173 19.7623 6.15521 19.818 5.8759C19.8737 5.59658 19.8453 5.30704 19.7364 5.04387C19.6275 4.7807 19.443 4.55573 19.2063 4.3974C18.9695 4.23908 18.6912 4.15451 18.4064 4.1544H18.4058C18.024 4.15458 17.658 4.30627 17.388 4.57616C17.118 4.84605 16.9661 5.21207 16.9658 5.59382ZM7.152 21.7677C5.98205 21.7144 5.34614 21.5196 4.92355 21.3549C4.3633 21.1368 3.96355 20.877 3.54326 20.4573C3.12298 20.0376 2.86282 19.6382 2.64566 19.078C2.48093 18.6556 2.28605 18.0195 2.23286 16.8495C2.17469 15.5846 2.16307 15.2047 2.16307 12.0001C2.16307 8.79552 2.17565 8.41661 2.23286 7.15066C2.28614 5.9807 2.48246 5.34586 2.64566 4.92221C2.86378 4.36195 3.12355 3.96221 3.54326 3.54192C3.96298 3.12163 4.36234 2.86147 4.92355 2.64432C5.34595 2.47958 5.98205 2.2847 7.152 2.23152C8.4169 2.17334 8.79686 2.16173 12 2.16173C15.2031 2.16173 15.5835 2.1743 16.8494 2.23152C18.0194 2.2848 18.6542 2.48112 19.0779 2.64432C19.6381 2.86147 20.0379 3.12221 20.4582 3.54192C20.8785 3.96163 21.1377 4.36195 21.3558 4.92221C21.5205 5.34461 21.7154 5.9807 21.7686 7.15066C21.8268 8.41661 21.8384 8.79552 21.8384 12.0001C21.8384 15.2047 21.8268 15.5836 21.7686 16.8495C21.7153 18.0195 21.5195 18.6554 21.3558 19.078C21.1377 19.6382 20.8779 20.038 20.4582 20.4573C20.0385 20.8766 19.6381 21.1368 19.0779 21.3549C18.6555 21.5196 18.0194 21.7145 16.8494 21.7677C15.5845 21.8259 15.2046 21.8375 12 21.8375C8.79542 21.8375 8.41651 21.8259 7.152 21.7677ZM7.05264 0.072672C5.77517 0.130848 4.90224 0.333408 4.1399 0.630048C3.3504 0.936384 2.68205 1.34736 2.01418 2.01418C1.3463 2.68099 0.936384 3.3504 0.630048 4.1399C0.333408 4.90272 0.130848 5.77517 0.072672 7.05264C0.013536 8.33213 0 8.74118 0 12C0 15.2588 0.013536 15.6679 0.072672 16.9474C0.130848 18.2249 0.333408 19.0973 0.630048 19.8601C0.936384 20.6491 1.3464 21.3193 2.01418 21.9858C2.68195 22.6524 3.3504 23.0628 4.1399 23.37C4.90368 23.6666 5.77517 23.8692 7.05264 23.9273C8.3328 23.9855 8.74118 24 12 24C15.2588 24 15.6679 23.9865 16.9474 23.9273C18.2249 23.8692 19.0973 23.6666 19.8601 23.37C20.6491 23.0628 21.318 22.6526 21.9858 21.9858C22.6537 21.319 23.0628 20.6491 23.37 19.8601C23.6666 19.0973 23.8701 18.2248 23.9273 16.9474C23.9855 15.6669 23.999 15.2588 23.999 12C23.999 8.74118 23.9855 8.33213 23.9273 7.05264C23.8692 5.77507 23.6666 4.90224 23.37 4.1399C23.0628 3.35088 22.6526 2.68205 21.9858 2.01418C21.319 1.3463 20.6491 0.936384 19.8611 0.630048C19.0973 0.333408 18.2248 0.129888 16.9483 0.072672C15.6688 0.014496 15.2598 0 12.001 0C8.74214 0 8.3328 0.013536 7.05264 0.072672Z" fill="url(#paint0_radial_203_37)"/> <path d="M8.00064 12C8.00064 9.79094 9.79094 7.99968 12 7.99968C14.2091 7.99968 16.0003 9.79094 16.0003 12C16.0003 14.2091 14.2091 16.0003 12 16.0003C9.79094 16.0003 8.00064 14.2091 8.00064 12ZM5.83814 12C5.83814 15.4032 8.5968 18.1619 12 18.1619C15.4032 18.1619 18.1619 15.4032 18.1619 12C18.1619 8.5968 15.4032 5.83814 12 5.83814C8.5968 5.83814 5.83814 8.5968 5.83814 12ZM16.9658 5.59382C16.9657 5.87863 17.05 6.15707 17.2082 6.39394C17.3663 6.63081 17.5911 6.81547 17.8542 6.92457C18.1173 7.03366 18.4068 7.06229 18.6862 7.00684C18.9655 6.95139 19.2221 6.81435 19.4236 6.61304C19.6251 6.41173 19.7623 6.15521 19.818 5.8759C19.8737 5.59658 19.8453 5.30704 19.7364 5.04387C19.6275 4.7807 19.443 4.55573 19.2063 4.3974C18.9695 4.23908 18.6912 4.15451 18.4064 4.1544H18.4058C18.024 4.15458 17.658 4.30627 17.388 4.57616C17.118 4.84605 16.9661 5.21207 16.9658 5.59382ZM7.152 21.7677C5.98205 21.7144 5.34614 21.5196 4.92355 21.3549C4.3633 21.1368 3.96355 20.877 3.54326 20.4573C3.12298 20.0376 2.86282 19.6382 2.64566 19.078C2.48093 18.6556 2.28605 18.0195 2.23286 16.8495C2.17469 15.5846 2.16307 15.2047 2.16307 12.0001C2.16307 8.79552 2.17565 8.41661 2.23286 7.15066C2.28614 5.9807 2.48246 5.34586 2.64566 4.92221C2.86378 4.36195 3.12355 3.96221 3.54326 3.54192C3.96298 3.12163 4.36234 2.86147 4.92355 2.64432C5.34595 2.47958 5.98205 2.2847 7.152 2.23152C8.4169 2.17334 8.79686 2.16173 12 2.16173C15.2031 2.16173 15.5835 2.1743 16.8494 2.23152C18.0194 2.2848 18.6542 2.48112 19.0779 2.64432C19.6381 2.86147 20.0379 3.12221 20.4582 3.54192C20.8785 3.96163 21.1377 4.36195 21.3558 4.92221C21.5205 5.34461 21.7154 5.9807 21.7686 7.15066C21.8268 8.41661 21.8384 8.79552 21.8384 12.0001C21.8384 15.2047 21.8268 15.5836 21.7686 16.8495C21.7153 18.0195 21.5195 18.6554 21.3558 19.078C21.1377 19.6382 20.8779 20.038 20.4582 20.4573C20.0385 20.8766 19.6381 21.1368 19.0779 21.3549C18.6555 21.5196 18.0194 21.7145 16.8494 21.7677C15.5845 21.8259 15.2046 21.8375 12 21.8375C8.79542 21.8375 8.41651 21.8259 7.152 21.7677ZM7.05264 0.072672C5.77517 0.130848 4.90224 0.333408 4.1399 0.630048C3.3504 0.936384 2.68205 1.34736 2.01418 2.01418C1.3463 2.68099 0.936384 3.3504 0.630048 4.1399C0.333408 4.90272 0.130848 5.77517 0.072672 7.05264C0.013536 8.33213 0 8.74118 0 12C0 15.2588 0.013536 15.6679 0.072672 16.9474C0.130848 18.2249 0.333408 19.0973 0.630048 19.8601C0.936384 20.6491 1.3464 21.3193 2.01418 21.9858C2.68195 22.6524 3.3504 23.0628 4.1399 23.37C4.90368 23.6666 5.77517 23.8692 7.05264 23.9273C8.3328 23.9855 8.74118 24 12 24C15.2588 24 15.6679 23.9865 16.9474 23.9273C18.2249 23.8692 19.0973 23.6666 19.8601 23.37C20.6491 23.0628 21.318 22.6526 21.9858 21.9858C22.6537 21.319 23.0628 20.6491 23.37 19.8601C23.6666 19.0973 23.8701 18.2248 23.9273 16.9474C23.9855 15.6669 23.999 15.2588 23.999 12C23.999 8.74118 23.9855 8.33213 23.9273 7.05264C23.8692 5.77507 23.6666 4.90224 23.37 4.1399C23.0628 3.35088 22.6526 2.68205 21.9858 2.01418C21.319 1.3463 20.6491 0.936384 19.8611 0.630048C19.0973 0.333408 18.2248 0.129888 16.9483 0.072672C15.6688 0.014496 15.2598 0 12.001 0C8.74214 0 8.3328 0.013536 7.05264 0.072672Z" fill="url(#paint1_radial_203_37)"/> </g> <defs> <radialGradient id="paint0_radial_203_37" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(3.18854 24.1134) scale(31.33 31.33)"> <stop offset="0.09" stop-color="#FA8F21"/> <stop offset="0.78" stop-color="#D82D7E"/> </radialGradient> <radialGradient id="paint1_radial_203_37" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.5549 25.1886) scale(24.6924)"> <stop offset="0.64" stop-color="#8C3AAA" stop-opacity="0"/> <stop offset="1" stop-color="#8C3AAA"/> </radialGradient> <clipPath id="clip0_203_37"> <rect width="24" height="24" fill="white"/> </clipPath> </defs> </svg>
                                {C_Contacts.instagram.name}
                            </a>
                        </li>
                        <li>
                            <a href={C_Contacts.linkedin.url}>
                                <svg height="24" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="#007EBB"/><path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#FFF"/></g></svg>
                                {C_Contacts.linkedin.name}
                            </a>
                        </li>
                        <li>
                            <a href={C_Contacts.github.url}>
                                <svg width="24" viewBox="0 0 98 96" data-theme="light" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"/></svg>
                                <svg width="24" viewBox="0 0 98 96" data-theme="dark" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#fff"/></svg>
                                {C_Contacts.github.name}
                            </a>
                        </li>
                        <li>
                            <a href={C_Contacts.x.url}>
                                <svg height="24" data-theme="light" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="#000"/></svg>
                                <svg height="24" data-theme="dark" viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="#fff"/></svg>
                                {C_Contacts.x.name}
                            </a>
                        </li>
                    </ul>
                </div>
            </details>
        </div>
        <div data-page-target="#works">
            <h2>
                <span lang="en">My Works</span>
            </h2>
            <p>
                <span lang="en">Transforming ideas into digital reality ✨</span>
            </p>
            <div class="mp-works-portfolio">
                <div data-none></div>
                <div data-none></div>
                <div data-none></div>
                <div data-none></div>
            </div>
            <dialog id="mp-works-dialog">
                <div>
                    <div data-images></div>
                    <div data-images-indicator></div>
                    <h2></h2>
                    <ul data-technology></ul>
                    <ul data-links></ul>
                    <div data-description></div>
                    <button id="mp-works-dialog-close">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="rgb(var(--g-color-on-surface-dark))"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </button>
                </div>
            </dialog>
        </div>
        <div data-page-target="#contact">
            <h2>
                <span lang="en">Contact Me</span>
            </h2>
            <p>
                <span lang="en">Love to hear from you, get in touch 👋</span>
            </p>
            <address>
                <span>Email:</span> <!-- for style only -->
                <br><a href={C_Contacts.email.url}>{C_Contacts.email.name}</a><br><br>
                <span lang="en">Name:</span>
                <br>{C_About.fullname}<br><br>
                <span lang="en">Address:</span>
                <br><a href={C_About.locationURL}>{C_About.location}</a>
            </address>
        </div>
    </main>
    <footer>
        <div>&copy; <span id="f-year">0000</span> Muhammad Sulais</div>
        <p>
            <button id="f-theme"><span style="display:inline-block;">
                <span data-theme="system">
                    <span lang="en">System theme</span>
                </span>
                <span data-theme="light">
                    <span lang="en">Light</span>
                </span>
                <span data-theme="dark">
                    <span lang="en">Dark</span>
                </span>
            </span></button>
            /
            <a href={C_About.locationURL}>{C_About.location}</a>
            /
            <a href="https://www.timeanddate.com/time/zones/wib">
                <time id="f-time" datetime="08:30:00">08:30:00 ({C_About.timezoneText})</time>
            </a>
        </p>
    </footer>

    <VersionWarning theme="dark"/>
	<script src="./_scripts/index.ts"/>
</Html>